*{
  margin: 0;
  padding: 0;
}

html, body, #root, .App{
  min-height: 100%;
}

/* Add this to index.css or a specific CSS file */
.about-me {
  padding: 20px;
  text-align: center;
}
.about-me h1 {
  color: #333;
  font-size: 2rem;
}
.about-me p {
  font-size: 1.2rem;
  line-height: 1.5;
}
